<%- include('../Partials/Header') %>
<div class="card col-4 py-4 bg-light mt-5 mx-auto shadow-lg">
    <h1 class="text-center ">Welcome to Home Page</h1>
    <h3 class="text-center mt-5">Book Store Description tables</h3>

</div>
    <%- include('../Partials/Footer') %>